<%- include('header'); -%>

<h1>Hello tis is one of the best routine scheduling platform, exclusevly designed for students to keep a track on their day to day activities and, to help them meet their deadlines. </h1>





<%- include('footer'); -%>



